.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: inherit;
  color:inherit;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  composes: timelineHeader from "../common/common.module.css";
}