.container {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.link {
display: flex;
align-items: center;
justify-content: center;
}

.link p {
  text-align: justify;
}

.link:hover {
color: var(--link-active);
}

.linkElement {
  text-decoration: underline;
}


