
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--background-main);
  color: var( --text-main); 
  word-wrap: normal;
  text-align: center;
}

.date {
  margin-top: 40px;
  composes: timelineElementDate from "../../../common/common.module.css";
}
.header {
  margin-top: 20px;
  composes: timelineElementHeader from "../../../common/common.module.css";
}
.text {
  margin-top: 20px;
  composes: timelineElementText from "../../../common/common.module.css";
}


@media screen and (max-width: 600px) {
  .date {
    font-size: 18px;
  }
  .header {
    font-size: 20px;
  }
  .text { 
    font-size: 14px;
  }
}

