.timeline {
  flex-direction: column;
  align-items: center;
  background-color: var(--background-main);
  color: var( --text-main); 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-main);
  color: var( --text-main); 
}

.text {
  max-width: 500px;
}