.app{  
  width: 100vw;
  background-color: var(--background-main);
  color: var( --text-main); 
  border-color: var( --text-main) ; 
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.content {
  width: 1400px;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
}

.block {
  padding: 40px;
}
