.app{
  width: 100vw;
  background-color: var(--background-main);
  color: var( --text-main); 
  border-color: var( --text-main) ;
}

.content {
  width: 100%;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
}

