.app{
  width: 100vw;
  background-color: var(--background-main);
  color: var( --text-main); 
  border-color: var( --text-main) ; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1200px;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  border: white 1px solid;
}

