

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/SourceCodePro-Light.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./SourceCodePro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./SourceCodePro-Light.woff') format('woff'), /* Modern Browsers */
       url('./SourceCodePro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./SourceCodePro-Light.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceCodePro-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./SourceCodePro-Regular.woff') format('woff'), /* Modern Browsers */
       url('./SourceCodePro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./SourceCodePro-Regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SourceCodePro-Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./SourceCodePro-Medium.woff') format('woff'), /* Modern Browsers */
       url('./SourceCodePro-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./SourceCodePro-Medium.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}