.about {
  background-color: var(--background-main);
  color: var( --text-main); 
}

.header {
  text-align: center;
  margin-bottom: 40px;
  composes: timelineHeader from "../common/common.module.css";
}