.projectCard {
  padding: 20px;
  background-color: inherit;
  margin: 30px 0;
  color: inherit;
  position: relative;
  composes: projectCardText from '../../common/common.module.css';
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 14px 14px rgba(255, 255, 255, 0.25);
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.text {
  margin: 10px;
}

.linkImg:hover {
  border: var(--link-active) solid 2px;
  border-radius: 10px;
  background-color: var(--link-active);
}

.linkImg {
  margin-right: 20px;
  width: 50px;
}

.imageContainer {
  width: 50%;
}

.imageContainer img {
  width: 600px;
}

.tagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px;
}

.tag {
  border: var(--text-main) 2px solid;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .projectCard {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .projectCard {
    flex-direction: column;
    max-width: 70vw;
  }
  .imageContainer img {
    width: 65vw;
  }
}

@media screen and (max-width: 550px) {
  .projectCard {
    font-size: 16px;
  }
}
