.headerTextLogo {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: auto;
  color: var(--text-color);
}

.headerTextLink {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: auto;
  color: var(--text-color);
}

.homeText {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 168%;
  color: var(--text-color);
}


.blockHeader {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: var(--text-color);
}

.timelineElementHeader {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
}

.timelineElementDate {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.timelineElementText {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 168%;
  color: var(--text-color);
}

.projectCardText {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 168%;
  color: var(--text-color);
}
