.headerTextLogo {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: var(--text-color);
}

.headerTextLink {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  color: var(--text-color);
}

.homeText {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 168%;
  color: var(--text-color);
}
