@import "normalize.css";
@import "./fonts/fonts.css";

:root {
  --background-main: #0A0A0A;
  --header-line: #EFEFEF;
  --text-main: #FAFAFA;

  --link-active: #00D4AE;
  --background-card-active: rgba(0, 212, 174, 0.7);
  --bacground-slide-menu: rgba(10, 10, 10, 0.6);
}

html {
  background-color: var(--background-main);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
	list-style: none;
}

a {
  color:inherit;
  text-decoration: none;
}